.carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  
    &__image {
      box-shadow: 0px 10px 20px rgba(black, 0.25);
      display: block;
      width: 80%;
      border-radius: 15px;
      margin: 0 10px;
    }
  
    &__arrow {
      display: block;
      height: 30px;
  
      &:hover {
        cursor: pointer;
      }
    }
  }